extends layouts/_application

mixin article(title, src, description)
  article.article
    .article__photo
      img(src='/assets/images/'+src alt="dooooom")
    .article__content
      h1.article__title= title
      if description
        p.article__copy= description
      else
        p.article__copy Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

block content
  .panel
    img.panel__avatar(src="/assets/images/mask.jpg" alt="The Mask")
  main
    .articles
      +article('Mos Doom Kicks', 'doom-kick.png')
      +article('Mos Doom Wears the Mask', 'doom-mask.png')
      +article('Mos Doom Points', 'doom-point.png')
      +article('Mos Doom Stare', 'doom-stare.png')
      +article('Mos Doom – The Villain', 'doom-villain.png')
