doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title PostCSS demo
    link(rel="stylesheet" href="assets/css/app.css")
  body
    block content
    
    script(src="assets/js/app.js")
